.container {
    display: flex;
    width: 100%;
}

.left-column {
    width: 60%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.right-column {
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

}
#lineChart, .bar-chart {
    
    
    margin-bottom: 10px; /* Adjust as needed */
}
.bar-chart{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.scatterplot {
    
    margin-bottom: 10px; /* Adjust as needed */
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
        position: static;
    }
}