.container {
    display: flex;
}

.left-column {
    flex: left;
    margin-right: 20px; /* Adjust as needed */
    width: 70%;
}

.right-column {
    flex: right;
    width: 30%;
}
#lineChart, .bar-chart {
    
    
    margin-bottom: 10px; /* Adjust as needed */
}
.bar-chart{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.scatterplot {
    
    margin-bottom: 10px; /* Adjust as needed */
}