body{
    font-family: "Freeman", sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.left-column {
    width: 35%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.right-column {
    width: 60%;
    margin-bottom: 20px;
    
}
.bottom-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#lineChart, .bar-chart {
    
    
    margin-bottom: 10px; /* Adjust as needed */
}
.bar-chart{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.scatterplot {
    
    margin-bottom: 10px; /* Adjust as needed */
}
h1{
    font-family: "Freeman", sans-serif;
    text-align: center;
}
.freeman-regular {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.header{
    background-color: #77c3ad;
    color: white;
    padding: 25px;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}